.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a,
a:hover {
  color: #000;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
i,
p,
span {
  padding: 0;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}
.col-4,
.col-6,
.row {
  margin: 0;
  padding: 0;
}
.Announcement {
  background-color:#9b6450;
  padding: 10px 0 6px;
}
.Announcement .col-md-6 p {
  color: #fff;
  margin-right: 6rem;
  font-size: 15px;
}
.Announcement .col-12 a {
  color: #fff;
  margin-right: 2rem;
  font-size: 15px;
}
.header {
  padding: 10px 0;
}
.navbar-brand img {
  width: 60%;
}
.input-group {
  height: 50px;
  width: 90%;
}
.search-button {
  width: 20%;
  background-color: #d55527;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.col-4,
.col-6,
.row {
  margin: 0;
  padding: 0;
}
.header {
  padding: 10px 0;
}
.navbar-brand img {
  width: 60%;
}
.input-group {
  height: 50px;
  width: 90%;
}
.search-button {
  width: 20%;
  background-color: #d55527;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.badge {
  background-color: rgb(177, 18, 18);
  position: absolute;
  top: -20px;
  border-radius: 100px;
  padding: 5px 7px;
  font-size: 12px;
}
.name-button {
  padding: 5px 15px;
  border: 1px solid #d55527;
  background-color: #fff;
  border-radius: 2px;
  margin: 0 15px;
}
.dropdown-menu {
  background-color: #000 !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.dropdown-menu a {
  padding: 10px 20px !important;
  color: #fff !important;
  margin: 0 !important;
}
.dropdown-menu a:hover {
  background-color: #d55527 !important;
  color: #fff !important;
}
.section {
  width: 100%;
  padding-bottom: 6%;
  padding-top: 2%;
}
.border-product {
  padding: 15px;
  border: 1px solid #9b6450;
  border-radius: 5px;
}
.shoptext {
  padding-top: 10px;
}
.shoptext h3,
.shoptext p a {
  color: #252525;
}
.shoptext h3 {
  margin-top: 13px;
  font-weight: 700;
  font-size: 19px;
}
.rating {
  margin: 5px 0;
}
.rating i {
  font-size: 12px;
  color: #ebb450;
}
.rating span {
  margin-left: 10px;
}
.subscribe-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
    url(https://images.unsplash.com/photo-1615876234886-fd9a39fda97f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHw%3D&w=1000&q=80)
      no-repeat scroll 50% / cover;
  padding: 100px 0;
}
.subscribe-head h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 13px;
  text-transform: uppercase;
}
.subscribe-head p {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 39px;
}
.subscribe-head {
  text-align: center;
}
.form-section input[type="email"] {
  border: 0;
  border-radius: 25px;
  color: #9b9b9b;
  font-size: 16px;
  font-style: normal;
  height: 51px;
  letter-spacing: 0;
  text-align: center;
  width: 460px;
}
.form-section input[type="submit"] {
  background: #d55527;
  border: 0;
  border-radius: 25px;
  color: #fff;
  height: 52px;
  letter-spacing: 0;
  margin-left: -60px;
  padding: 0 58px;
  text-transform: uppercase;
  font-size: 12px;
}
.contactInfo {
  padding: 70px 0;
}
.box-info,
.contact-Box,
.info-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-info h5 {
  font-weight: 700;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.box-info p {
  font-size: 16px;
}
.info-image {
  width: 50px;
  height: 50px;
  border: 2px solid #d55527;
  border-radius: 100px;
  font-size: 20px;
  color: #d55527;
}
.box-info {
  width: 80%;
  flex-direction: column;
  padding: 40px 0;
  box-shadow: 0 0 27px 0 #9b6450;
}
.footer {
  background-color: #ececec;
}
.card-name {
  width: 4%;
  margin: 10px;
}
.card-name img {
  width: 100%;
  height: 50px;
  object-fit: contain;
}
.pagination .page-link {
  padding: 10px 30px;
  color: #000;
}
.page-item.active .page-link {
  background-color: #000;
  border: 1px solid #000;
}
.carousel{
  display: inline-block;
  width: 98%;
}
.carousel img{
  display: inline-block;
  max-height: 500px;
}